* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: rgb(34, 33, 33);
}
.main-about {
    border: 1px solid white;
    width: 25%;
    height: 40rem;
    text-align: center;
    margin:auto;
}
.main-about hr{
    border: 0;
    color: white;

}
.main-about img{
    height: 7rem;
    width: auto;
    border-radius: 5rem;
    margin-top: 2rem;
   
}
.main-about ul {
    list-style: none;
}
.main-about ul li {
    margin-top: 2.75rem;
}
.main-about ul li a {
    text-decoration: none;
    color: white;
}
.main-about ul li a:hover {
    padding: 5px;
    background-color: white;
    color: black;
}
#name , #name2 {
    color: gray;
    margin-top: 0.5rem;
    font-size: 0.8rem;
} 
#author {
    color: gray;
    margin-top: 4rem;
    margin-left: 0.5rem;   
}
#author a {
    text-decoration: none;
    color: gray;
}
#author a:link {
    text-decoration: none;
    color: gray;
}
#author a:visited {
    text-decoration: none;
    color: gray;
}
#author a:hover {
    text-decoration: none;
    color: gray;
}